


<script>
    export default {
        props: ['answer'],

        data() {

            return {
                editing: false,
                body: this.answer.body,
                bodyHtml: this.answer.body_html,
                id: this.answer.id,                  //property->answer ar jonne
                questionId: this.answer.question_id, //property->question ar jonne
                beforeCacheEdit: null
            }

        },


        methods: {

            edit(){
                this.beforeCacheEdit = this.body;
                this.editing = true
            },
            cancel(){
                this.body = this.beforeCacheEdit;
                this.editing = false
            },


            update() {
                axios.patch(this.endpoint,{

                    body: this.body    //patch Kothay korbo?body te.tai body:this.body


                }).then(res => {
                    console.log(res);
                    this.editing = false;
                    this.bodyHtml = res.data.body_html;
                    this.$toast.success(res.data.message,'Success',{

                            timeout:3000
                    });


                }).catch(err => {


                    this.$toast.error(err.response.data.message,'Error',{

                        timeout:3000,


                    });

                });

            },

            destroy(){

                this.$toast.question('Are you sure about that?','confirm',{
                    timeout: 20000,
                    close: false,
                    overlay: true,
                    displayMode: 'once',
                    id: 'question',
                    zindex: 999,
                    title: 'Hey',
                    position: 'center',
                    buttons: [
                        ['<button><b>YES</b></button>', (instance, toast)=> {


                                axios.delete(this.endpoint)
                                    .then(res => {
                                        $(this.$el).fadeOut(500, () => {

                                            this.$toast.success(res.data.message,'Success',{

                                                timeout:3000
                                            });

                                        })
                                    })



                            instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');

                        }, true],
                        ['<button>NO</button>', function (instance, toast) {

                            instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');

                        }],
                    ],

                });



            }

        },
        computed: {
            isInvalid() {
                return this.body.length < 1;

            },
            endpoint() {

                return `/questions/${this.questionId}/answers/${this.id}`;
            }
        }

    }
</script>





<!-- important note-->
<!-- 1. axios.patch(``);  ->ar kaj holo multiple property,multiple class k aksathe kora ba somonnoy sadon kora -->
<!--2. ` ` u-ry symbol -->
<!--3. amra j patch korbo,update hobe ar jonne amdr consoleLog,error generate korte hobe-->
<!--4.consoleLog,error generate korar jonne Vue amk 2 ta function dice akta then(),arekta catch()
 ex: then().catch();  -->

<!--5. then() generate hoy response  kore,tahole likbo-> then(res=>{}).catch(); -->

<!--6.

then(res=>{



}).catch();


-->



<!--7.  catch() a generate korbo error.  catch(err=>{});   -->

<!--8.


 catch(err=>{

});


-->



<!--9.
 finally :


then(res=>{



}).catch(err=>{

});


-->







