
<template>
    <div>

           <span class="text-muted">
       Question {{postDate}}
          </span>
        <div class="media">
            <a class="pr-2" :href="user.url">
                <img :src="user.avatar">
            </a>
            <div class="media-body">
                <a :href="user.url">
                    {{user.name}}
                </a>
            </div>
        </div>


    </div>
</template>


<!--      : it is called v-bind-->





<!--  vue implement-->

<script>
    export default {
        props:['label', 'model'],  //-->kon parent use korbo bole dibo.parent array akare hobe.parent ar jonne props nibo.props mane holo property
        computed:{
            postDate(){            //method
                return this.label + " "+this.model.create_date;
            }
        },
        data(){      //-->parent property
            return{
                user:this.model.user
            }
        }
    }
</script>






<!-- (props) means property-->
<!--  data:- parent property-->







<!--kete section kete anle-->



<!--
 <template>
    <div>



    </div>

 </template>


 then emplement:-

 <script>
 export default{


  }
 <script>

-->

