
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}


   .counters{

       margin-right: 15px;
       width: 90px;
       text-align: center;
       font-size: 15px;
       color:  #272343;

       .vote{
           margin-bottom: 15px;
       }

       .status{


           padding: 10px;

           &.unanswered{

                color: #da2d2d;
               font-size: 17px;

           }

           &.answered{

               border: 3px solid blueviolet;
               border-radius: 7px;
               padding: 10px;

           }

           &.answered-accepted{

               border: 3px solid blueviolet;
               border-radius: 7px;
               background: blueviolet ;
               color: white;

           }


       }


        .view{

            margin-top: 15px;
        }

   }








//
//.votes-control{
//  margin-right: 30px;
//  text-align: center;
//  min-width: 60px ;
//  color: $gray-700;
//
//  span, a{
//    display: block;
//  }
//  span{
//    &.votes-count{
//      font-size: 25px;
//      color: $gray-600;
//    }
//
//    &.faboritted{
//
//      font-size: 12px;
//    }
//  }
//
//  a{
//    cursor:pointer;
//    &.off , &.off:hover{
//      color: $gray-500;
//
//    }
//
//    &.fabs ,&.fabs:hover{
//
//      color: $warning;
//    }
//
//    &.vote-accept{
//      color:$green;
//
//    }
//  }
//
//}
//


.votes-control{

    margin-right: 20px;
    text-align: center;
    width: 60px;
    color: $gray-700;

       span {

           &.votes-count {

               color: #851de0;
               font-size: 25px;
               font-weight: bold;
           }

           &.faboritted{
               color: #851de0;
               font-size: 25px;
               font-weight: bold;
               display:block;
           }
       }

     a{
         cursor:pointer;


         &.fabs{

             color: #9be3de;
             //color: #1b1e21;

         }

         &.vote-up{
             color: #51eaea;
         }

         &.vote-down{
             color: #51eaea;
         }


         &.off{
             color: #beebe9 ;



         }

         &.vote-accept{
                  color: #007944;

                 }

     }





}

[v-cloak]{

    display: none;

}





